.account {
  margin: 2rem 1rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
  border: 1px solid silver;
  box-shadow: 0.1rem 0.1rem 0.1rem #cccbcb;

  &__holder {
    margin-bottom: 2rem;
  }
  &__balance {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  &__title {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: rgba(233, 233, 233, 0.911);
    border-bottom: 1px solid silver;
    padding: 1rem;
    * {
      margin: 0;
    }
  }
  &__stock,
  &__price,
  &__quantity {
    font-size: 1rem;
    flex: 0.25;
  }
  &__net {
    text-align: right;
    font-size: 1rem;
    flex: 0.25;
  }
  &__date,
  &__cost,
  &__gainLose {
    display: none;
  }
  &__single {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid silver;
    margin-bottom: 1rem;
    &-stock,
    &-price,
    &-quantity {
      margin: 0;
      flex: 0.25;
    }
    &-net {
      margin: 0;
      text-align: right;
      flex: 0.25;
    }
    &-date,
    &-cost,
    &-gainLose,
    &__buttonPlace {
      margin: 0;
      display: none;
    }
    * {
      font-size: 0.8rem;
    }
  }
  &__total {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: right;
    &-change {
      text-align: right;
    }
  }
  .btn-danger {
    display: none;
  }
  &__financialInfo {
    padding: 1rem;
  }
  &__processbtn {
    display: flex;
    justify-content: flex-end;
  }
  &__updateAccount {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }
}

@include tablet {
  .account {
    margin: 2rem 8rem;
    &__holder {
      font-size: 2.5rem;
    }
    &__balance {
      font-size: 2rem;
    }
    &__date,
    &__cost,
    &__gainLose {
      flex: 0.2;
      font-size: 1rem;
      display: initial;
    }

    &__buttonPlace {
      width: 4rem;
    }
    &__stock,
    &__price,
    &__quantity {
      flex: 0.2;
    }
    &__net {
      text-align: left;
    }
    &__single {
      padding-bottom: 0.5rem;
      &-date,
      &-cost,
      &-gainLose {
        font-size: 1rem;
        display: initial;
        flex: 0.2;
      }
      &-stock,
      &-price,
      &-quantity {
        font-size: 1rem;
        flex: 0.2;
      }
      &-net {
        font-size: 1rem;
        text-align: left;
      }
    }
    .btn-danger {
      display: initial;
    }
  }
}
@include desk {
  .account {
    margin: 2rem 11rem;
  }
}
