.footer {
  position: relative;
  height: 3rem;
  background-color: #343a40;
  color: white;
  padding: 1rem;
  width: 100%;
}
@include tablet {
  .footer {
    padding: 1rem 8rem;
  }
}
@include desk {
  .footer {
    padding: 1rem 12rem;
  }
}
