.navbar {
  min-height: 5rem;
  font-size: 1.5rem;
}
.navbar-brand {
  font-size: 2rem;
}
.dropdown-menu {
  font-size: 1.5rem;
  *:hover {
    width: 99%;
  }
}
.nav-link:hover,
.nav-link:focus {
  color: rgba(255, 166, 0, 0.89) !important;
}

@include tablet {
  .navbar {
    padding: 0 8rem;
  }
}
@include desk {
  .navbar {
    padding: 0 12rem;
  }
}
