.navbar {
  min-height: 6rem;
  font-size: 2rem;
}
.nav-item {
  padding: 1rem;
}
.navbar-brand {
  font-size: 2rem;
}
#nav-searchInput {
  height: 4rem;
  width: 18vw;
}
#nav-searchButton {
  font-size: 1.3rem;
  width: 8vw;
  height: 4rem;
}
