.login {
  padding: 2rem;
  background-color: rgb(243, 243, 243);
  border-radius: 1rem;

  &__inputWrap {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__username,
  &__password {
    width: 83%;
    padding: 1rem;
    height: 3rem;
    margin: 1rem;
    border: 1px solid silver;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  &__btnWrap {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
  }
}

@include tablet {
  .login {
    width: 40rem;
    padding: 2rem;
    &__inputWrap {
      width: 100%;
    }
    &__username,
    &__password {
      height: 4rem;
    }
  }
}
.styles_modal__gNwvD {
  border-radius: 1rem;
  padding: 2rem;
}
