.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  max-width: 20rem;
  margin: 1rem 1.5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #cccbcb;
}
.card-img-top {
  height: 10rem;
}
.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

@include tablet {
  .news {
    margin: 0 8rem;
  }
}

@include desk {
  .news {
    margin: 0 12rem;
  }
}
