@mixin button {
  width: 100%;
  height: 1.5rem;
  border-style: none;
  color: white;
}

.scard {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #cccbcb;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #cccbcb;
  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-stock {
      flex: 0.7;
    }
    &-name {
      font-size: 1.5rem;
    }
    &-symbol {
      color: silver;
      font-size: 0.8rem;
    }
    &-imgwrapper {
      display: flex;
      justify-content: center;
    }
    &-img {
      display: flex;
      flex: 0.3;
      justify-content: flex-end;
      align-items: flex-start;
      img {
        width: 3rem;
        height: 2rem;
      }
    }
  }
  &__priceCurrent {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  &__52Wk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.8rem;
    p {
      margin-bottom: 0;
    }
    &-barwrap {
      display: flex;
      height: 0.5rem;
      margin-bottom: 0.5rem;
    }
    &-bar1 {
      flex: 0.5;
      border: 1px solid silver;
      border-right-style: none;
    }
    &-bar2 {
      flex: 0.5;
      border: 1px solid silver;
      border-left-style: none;
    }
  }
  &__marketOpen {
    text-align: right;
  }
  &__graph {
    display: flex;
    justify-content: center;
    padding: 3rem;
  }
  &__buttonWrap {
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__buybtn {
    @include button;
    background-color: green;
    flex: 0.5;
  }
  &__sellbtn {
    @include button;
    background-color: red;
    flex: 0.5;
  }
}
