@import "./_partials/breakpoints";
@import "./_partials/header";
@import "./_partials/footer";
@import "./_partials/landing";
@import "./_partials/account";
@import "./_partials/research";
@import "./_partials/stockCard";
@import "./_partials/newsCard";
@import "./_partials/newOrder";
@import "./_partials/login";
@import "./_partials/demo";

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
}
